{
  "consumer_key"       : "aaaaaaaaaaaaaaaaaa",
  "consumer_secret"    : "bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb",
  "oauth_token"        : "1111111111-ccccccccccccccccccccccccccccccccccccccc",
  "oauth_token_secret" : "dddddddddddddddddddddddddddddddddddddddddddddd"
}
